%title-328 {
  font-size: 32.8rem;
  // letter-spacing: -0.05em;
  font-family: $font-bebas;
  word-break: break-word;

  @include media("<=phone") {
    font-size: 5.6rem;
    font-size: clamp(40px, 15vw, 60px);
  }
}

%title-160 {
  font-size: 16rem;
  font-family: $font-bebas;
  letter-spacing: -0.025em;

  @include media("<=phone") {
    font-size: 4rem;
    font-size: clamp(32px, 12vw, 48px);
    word-break: break-word;
  }
}